.latestPostsBlockContainer {
}

.latestPostsBlockTitle {
    text-align: center;
}

.latestPostsBlockFlex {
}

.latestPostsBlockFlexItem {
}

.latestPostsBlockFlexFirstColumnItem {
    width: 66%;
}

.latestPostsBlockFlexSecondColumn {
    width: 33%;
}

.latestPostsBlockFlexSecondColumnItem {
}